<h1><%= @post.title %></h1>
<h3><%if user_signed_in? %>
  By <%= User.find(@post.user_id).email%>
<% else%>
  By Anonymous
<%end%></h3>

<p><%= @post.body %></p>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Delete", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

